<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Actor Details</title>
    <thymeleaf th:replace="~{navigation :: meta_script_link}"/>
    <script src="/js/bundle-extraDirectorInfo.js" defer></script>

</head>
<body>
<main class="container mt-3 mb-3">
    <h1 class="text-center display-5 mt-3 mb-3" th:text="${one_director.getDirectorName()}"></h1>
    <div>
        <input id="directorId" type="hidden" th:value="${one_director.id}">

        <div class="col-9 lead text-center">
            <label for="birth" class="form-label" th:utext="#{fordirector.birth}">Birth Year:</label>
            <textarea th:if="${one_director.modificationAllowed}" id="birth" rows="2"
                      th:text="${one_director.getBirth()}"></textarea>
            <p th:if="${!one_director.modificationAllowed}" th:text="${one_director.getBirth()}">
        </div>

        <div class="col-9 lead text-center">
            <label for="award" class="form-label" th:utext="#{fordirector.award}">Award:</label>
            <textarea th:if="${one_director.modificationAllowed}" id="award" rows="4"
                      th:text="${one_director.getAward()}"></textarea>
            <p th:if="${!one_director.modificationAllowed}" th:text="${one_director.getAward()}">
        </div>
    </div>

    <!-- Back and Delete button -->

    <div class="container d-flex justify-content-center mt-4 mb-1">
        <div class="m-2">
            <a th:utext="#{foractor.back}" th:href="@{/directors}" class="btn btn-secondary">Go Back</a>
        </div>
        <div class="m-2">
            <button th:if="${one_director.modificationAllowed}" class="btn btn-outline-danger" type="button" th:value="#{foractor.delete}">Delete</button>
        </div>
        <div class="m-2">
            <button th:if="${one_director.modificationAllowed}" id="updateButtonDirector" type="button" class="btn btn-primary">Update</button>
        </div>
    </div>
</main>
<div th:insert="~{footer::copy}">&copy; 2023 The Films and Actors</div>
</body>
</html>
