@use "variables" as *;
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    border: 10px solid;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow: auto;
}

.search_form {
    padding-left: 10em;
    padding-right: 10em;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-xxl {
    flex-wrap: wrap;
    justify-content: center;
}