@use "variables" as *;
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Define variables for reusable colors
$background-color: #f2f2f2;
$primary-color: #007bff;

// Define mixins for common styles
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Define styles using SCSS syntax
body {
    font-family: 'Arial', sans-serif;
    background-color: $background-color;
    border: 10px solid;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow: auto;
}

.search_form {
    padding-left: 10em;
    padding-right: 10em;
}

.row {
    @include flex-center; // Use the flex-center mixin
}

.navbar-expand-xxl {
    flex-wrap: wrap;
    justify-content: center;
}